@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 100;
  src: local('Muli Light'), local('Muli-Light'), url(../fonts/muli/muli-light-webfont.woff2) format('woff2');
  }

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 100;
  src: local('Muli Light Italic'), local('Muli-LightItalic'), url(../fonts/muli/muli-lightitalic-webfont.woff2) format('woff2');
  }

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: local('Muli Italic'), local('Muli-Italic'), url(../fonts/muli/muli-italic-webfont.woff2) format('woff2');
  }

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  src: local('Muli Bold Italic'), local('Muli-BoldItalic'), url(../fonts/muli/muli-bolditalic-webfont.woff2) format('woff2');
  }

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(../fonts/muli/muli-webfont.woff2) format('woff2');
  }

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: local('Muli SemiBold'), local('Muli-SemiBold'), url(../fonts/muli/muli-semibold-webfont.woff2) format('woff2');
  }

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: local('Muli Bold'), local('Muli-Bold'), url(../fonts/muli/muli-bold-webfont.woff2) format('woff2');
  }
